<form class="container-fluid" [formGroup]="formAlterGasStationValues">
  <h1 class="row col-12">Alterar Preço</h1>
  <div class="row col-12">
    <mat-form-field appearance="fill">
      <mat-label>Posto</mat-label>
      <mat-select formControlName="gasStation">
        <mat-option *ngFor="let gasStation of gasStations$ | async" [value]="gasStation.key"
                    (click)="onSelectGasStation()">
          {{ gasStation.gasStationName }} | {{ gasStation.location }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="formAlterGasStationValues.get('gasStation').value">
    <p>Gasolina</p>
    <div class="row">
      <mat-form-field appearance="legacy" class="col-6">
        <mat-label>Credito</mat-label>
        <input matInput type="number" formControlName="Credit" placeholder="Credit"
               required>
        <mat-hint>Valor atual: {{ gasolineValues?.gasoline?.Credit ? gasolineValues?.gasoline?.Credit : 'Sem valor' }}</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="col-6">
        <mat-label>Debito/Dinheiro</mat-label>
        <input matInput type="number" formControlName="MoneyDebit"
               placeholder="Debito ou Dinheiro" required>
        <mat-hint>Valor atual: {{ gasolineValues?.gasoline?.MoneyDebit ? gasolineValues?.gasoline?.MoneyDebit : 'Sem valor' }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="legacy" class="col-12">
        <mat-label>Promoções</mat-label>
        <textarea matInput formControlName="promotions" placeholder="Ex: Com melius tem 10 de cashback"></textarea>
        <mat-hint>Promoção atual: {{ gasolineValues?.promotions ? gasolineValues?.promotions : 'Sem Promoçao' }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <button mat-button color="primary" (click)="alterGasStationValues()"
              [disabled]="formAlterGasStationValues.invalid">Submit
      </button>
    </div>
  </div>
</form>
