<ng-template #noUser>
  <div class="container-fluid">
    <app-animation-lottie [lottieConfig]="lottieConfig"></app-animation-lottie>
  </div>
  <div class="container-fluid">
    <div class="row">
      <button mat-stroked-button color="primary" class="login-button" (click)="SignIn()">SignIn</button>
    </div>
  </div>
</ng-template>
<div *ngIf="userService.user$ | async as user; else noUser">
  <div class="container-fluid">
    <img [src]="user.photoURL" class="img-thumbnail rounded-circle mx-auto d-block mt-2">
    <div class="text-center mt-1">
      Bem vindo, {{ user.displayName }}!
    </div>
    <hr>
    <mat-list>
      <mat-list-item (click)="openFeedback()">
          <mat-icon>feedback</mat-icon>
          <div class="ml-auto">Feedback</div>
      </mat-list-item>
      <mat-list-item *ngIf="this.router.url !== '/'" [routerLink]="['']" (click)="this.closeDrawer()">
          <mat-icon>home</mat-icon>
          <div class="ml-auto">Home</div>
      </mat-list-item>
    </mat-list>
    <hr>
    <div *ngIf="userService.isAdminUser$ | async">
      <mat-hint>Opções de Admin</mat-hint>
      <mat-list>
        <mat-list-item [routerLink]="['admin']" *ngIf="this.router.url !== '/admin'" (click)="this.closeDrawer()">
          <mat-icon>admin_panel_settings</mat-icon>
          <div class="ml-auto">Admin page</div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="container-fluid">
    <div class="final-options">
      <mat-list>
        <mat-list-item (click)="logOut()">
            <mat-icon>logout</mat-icon>
            <div class="ml-auto">LogOut</div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
