<mat-card class="example-card" *ngIf="gasStation.Values">
  <mat-card-header class="d-block">
    <div class="container-fluid">
      <div class="row">
        <mat-card-title class="title m-0">{{ gasStation.gasStationName }}</mat-card-title>
      </div>
      <div class="row">
        <mat-card-subtitle>{{ gasStation.location }} | A {{ gasStation.coordinates.actualUserDistance }} km de você!</mat-card-subtitle>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="main-card">
    <table class="table table-borderless text-center pb-1">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Crédito</th>
        <th scope="col">Debito</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Gasolina<br>Comum</th>
        <td>${{ (gasStation.Values.gasoline.Credit).toFixed(3) }}</td>
        <td>${{ (gasStation.Values.gasoline.MoneyDebit).toFixed(3) }}</td>
      </tr>
      </tbody>
    </table>
    <p *ngIf="gasStation.Values.promotions">
      <mat-icon class="icone">monetization_on</mat-icon>
      {{ gasStation.Values.promotions  }}</p>
  </mat-card-content>
  <mat-card-subtitle class="subtitle">
    Preço Atualiado em: {{ gasStation.Values.date | date: 'dd/MM/YYYY, h:mm a' }}
  </mat-card-subtitle>
  <mat-card-footer>
    <div class="container-fluid">
      <div class="row p-1">
        <button mat-button class="col-6"
                (click)="redirectToMaps(gasStation.coordinates.latitude, gasStation.coordinates.longitude)">
          <mat-icon>location_on</mat-icon>
          <br>
          Local
        </button>
        <button mat-button class="col-6"
                (click)="share(gasStation.coordinates.latitude, gasStation.coordinates.longitude)">
          <mat-icon>share</mat-icon>
          <br>
          Compartilhar
        </button>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
