.mat-card {
  background-color: #ffd400ad;
}
.subtitle {
  font-size: small;
}

th {
  width: 1px;
  padding: 6px 0 6px;
}
td {
  padding: 6px;
}
.icone {
  vertical-align: bottom;
}
.main-card {
  background-color: #ffec64;
  border-radius: 1rem;
}
p {
  padding: 0 10px 10px;
}
.location-icon {
  position: absolute;
  right: 3%;
  top: 6.5%;
}
a {
  color: black;
}

.font-size {
  font-size: 15px;
}
button {
  line-height: 25px;
}
