<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="title">{{ gasStation.gasStationName }}</mat-card-title>
    <mat-card-subtitle>{{ gasStation.location }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <p class="col-12">Gasolina</p>
    </div>
    <div class="row">
      <p class="col-6 text-center">Credito: ${{gasStation.Values.gasoline.Credit}}</p>
      <p class="col-6 text-center">Deb/Din: ${{gasStation.Values.gasoline.MoneyDebit}}</p>
    </div>
  </mat-card-content>
  <mat-card-subtitle>
    <p>Preço Atualiado em: {{ gasStation.Values.date | date: 'dd/MM/YYYY, h:mm a' }}</p>
  </mat-card-subtitle>
</mat-card>
