<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">
    <img src="https://res.cloudinary.com/knowgas/image/upload/c_scale,h_50,w_50/v1613793231/Know%20Gas/logo_sem_fundo_tnj2dv.svg" width="50" height="50" class="pl-1 d-inline-block align-items-center" alt="">
    {{ mainTitle }}
  </a>
  <div class="menu-btn" [ngClass]="{
    'open': menuOpen,
    'close': !menuOpen
  }" (click)="toggleMenu(); drawer.toggle()">
    <div class="menu-btn__burger"></div>
  </div>
</nav>
