<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">
    <img src="https://res.cloudinary.com/knowgas/image/upload/c_scale,h_50,w_50/v1613793231/Know%20Gas/logo_sem_fundo_tnj2dv.svg" width="50" height="50" class="pl-1 d-inline-block align-items-center" alt="">
    {{ mainTitle }}
  </a>
  <a (click)="openDialog()" class="col-3 col-lg-6"><b>Deixe seu feedback</b></a>

  <div class="menu-btn" [ngClass]="{
    'open': menuOpen,
    'close': !menuOpen
  }" (click)="toggleMenu()">
    <div class="menu-btn__burger"></div>
  </div>
</nav>

<div class="list"
  [class.invisible]="!menuOpen">
  <ul (click)="menuOpen = !menuOpen">
    <li *ngIf="this.router.url !== '/'">
      <div>
        <a [routerLink]="['']"> <mat-icon>home</mat-icon>Home</a>
      </div>
    </li>
    <li *ngIf="isAdminUser$ | async">
      <div>
        <a [routerLink]="['admin']"> <mat-icon>admin_panel_settings</mat-icon> Admin</a>
      </div>
    </li>
    <li *ngIf="user; else loginButton">
      <div>
        <a (click)="logOut()"><mat-icon>logout</mat-icon>logOut</a>
      </div>
    </li>
    <ng-template #loginButton>
      <li>
        <div>
          <a (click)="login()"><mat-icon>login</mat-icon>Login</a>
        </div>
      </li>
    </ng-template>
  </ul>
</div>
