<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">
    <img src="https://res.cloudinary.com/knowgas/image/upload/c_scale,h_50,w_50/v1614047505/Know%20Gas/Logo_sem_fundo_orzn4a.svg" width="50" height="50" class="pl-1 d-inline-block align-items-center" alt="">
    {{ mainTitle }}
  </a>
  <div class="menu-btn" [ngClass]="{
    'open': headerService.menuOpen | async,
    'close': !headerService.menuOpen | async
  }" (click)="toggleMenu()">
    <div class="menu-btn__burger"></div>
  </div>
</nav>
