<div class="container-fluid">
  <div class="row">
    <form class="col-4" [formGroup]="formSelectPriceOrder">
        <mat-form-field appearance="fill">
          <mat-label>Ordenar por:</mat-label>
          <mat-select formControlName="priceOrder">
            <mat-option *ngFor="let priceOrder of priceOrdersAvailable" [value]="priceOrder.pathOrder">
              {{ priceOrder.displayName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </form>
  </div>
    <div class="row">
      <app-form-distance (changeWantedDistance)="onChangeWantedDistance($event)"></app-form-distance>
    </div>
</div>
<div class="container-fluid mt-2 maxWidth"
     *ngFor="let gasStation of gasStations$ | async | orderValuesList: actualOrder">
  <app-gas-station-form-inf [gasStation]="gasStation" [distanceRadius]="actualDistance"></app-gas-station-form-inf>
</div>
