<div class="container-fluid">
  <div>Ordenar por:</div>
  <div class="row">
      <button class="col-4 m-2 col-lg-2" mat-raised-button [class.color-button]="creditChecked"
              (click)="clickCredit()">
        Credito
      </button>
      <button class="col-4 m-2 col-lg-2" mat-raised-button [class.color-button]="moneyDebitChecked"
              (click)="clickDebit()">
        Débito
      </button>
  </div>
  <div class="row pt-3">
    <app-form-distance (changeWantedDistance)="onChangeWantedDistance($event)"></app-form-distance>
  </div>
</div>
<div class="container-fluid mt-2 maxWidth"
     *ngFor="let gasStation of gasStations$ | async | orderValuesList: actualOrder">
  <app-gas-station-form-inf [gasStation]="gasStation" [distanceRadius]="actualDistance"></app-gas-station-form-inf>
</div>
<div *ngIf="lookingForGasStation">
  <app-looking-for-gas-station></app-looking-for-gas-station>
</div>

<div *ngIf="!lookingForGasStation && !hasGasStation">
  <app-without-gas-station-for-region></app-without-gas-station-for-region>
</div>
