<form class="container-fluid" [formGroup]="formRegisterGasStation">
  <h1 class="row col-12">Registro</h1>
  <div class="row">
    <mat-form-field appearance="legacy" class="col-12">
      <mat-label>Posto</mat-label>
      <mat-select formControlName="gasStationNearby">
        <mat-option *ngFor="let gasStation of gasStationsNearby" [value]="gasStation.name"
                    (click)="gasStationSelected = gasStation">
          {{ gasStation.name }} | {{ getDistanceGasStation(gasStation) }} km
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field *ngIf="gasStationSelected" class="col-12">
      <mat-label>Localização</mat-label>
      <input matInput type="text" id="location" [value]="gasStationSelected.vicinity" disabled>
    </mat-form-field>
  </div>
  <div class="row col-6" *ngIf="gasStationSelected">
    <mat-form-field appearance="legacy">
      <mat-label>Ponto de referência</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                placeholder="Ex: Ao lado do Mercado"
                formControlName="location"></textarea>
    </mat-form-field>
  </div>
  <div class="row" *ngIf="gasStationSelected">
    <button mat-button color="primary" (click)="addGasStation()"
            [disabled]="formRegisterGasStation.invalid && gasStationSelected">Submit
    </button>
  </div>
</form>
